* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.meuContainer{
    
    background-color: rgb(182, 184, 185);
    width: 400px;
    border: 2px solid rgb(7, 14, 102);
    border-radius: 10px;
    text-align: center;
    padding: 60px;
    margin-left: 480px;   
}

p{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal-content{
    width: 50% !important;
    margin: 20% auto;
}

#closeModalBtn{
    cursor: pointer;
}

.btn btn-dark{
    margin-bottom: 100px;
}

#form, h2 {
    margin-left: 30px;
}

#closeModal, 
#closeModalBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;  
}
#myModal .modal-content #resultadoCarregarJogo p {
    color: blue;
    margin: 5px 10px;
}


    

